.comment-header {
  display: grid;
  height: 30px;
  grid-template-columns: 40px 40px 40px;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
}
.like-count {
  padding-left: 10px;
}

.like-count div {
  font-weight: 600;
  font-size: 14px;
  padding-left: 5px;
}

.caption {
  padding-left: 20px;
  margin-right: 20px;

  font-size: 15px;
}

.false {
  height: 55px;
}

.read-more {
  width: 400px;
  color: gray;
}

.read-more:hover {
  color: black;
  cursor: pointer;
}

.comment-item {
  color: black;
}

.view-all:hover {
  cursor: pointer;
}

.view-comment {
  color: gray;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.loadmore {
  font-size: 14px;
  color: gray;
}
.loadmore:hover {
  cursor: pointer;
}
