.desktop {
  max-width: 935px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.small {
  max-width: 935px;
  margin: 64px auto;
}

.right {
  margin-left: 20px;
  width: 100%;
}

.right-top {
  /* height: 86px; */
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 85% 15%;
  margin-top: 20px;
}

.right-top > a {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 20px;
}

.right-top .user {
  height: 66px;
  width: 100%;
}
.name {
  color: grey;
}

.switch {
  margin-top: auto;
  margin-bottom: auto;
  color: #47b1f7;
  font-weight: 700;
  font-size: 15px;
}

.right-top .user img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
}

.first-line {
  display: grid;
  grid-template-columns: 80% 20%;
}

.first-line h4 {
  color: grey;
}

.s2 {
  text-align: end;
}

.user-det {
  margin-top: auto;
  margin-bottom: auto;
}

.head {
  margin-top: 10px;
}

.posts {
  max-width: 614px;
  min-width: 240px;
  max-height: 1088.5px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.post {
  width: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0 1px 1px 0 solid #e6e6e6;
}

.post > img {
  max-width: 614px;
  min-width: 240px;
  max-height: 500px;
  position: relative;
}

.post .fas {
  position: absolute;
  color: red;
  animation: heartGrow 0.8s linear;
  -moz-animation: heartGrow 0.8s linear;
  -webkit-animation: heartGrow 0.8s linear;
}

@keyframes heartGrow {
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.user-profile-image > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 10px;
}

.user-profile {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;

  border: 1px solid #e6e6e6;
}

.user-profile > a > .username {
  margin: auto 0 auto 10px;
  font-size: 14px;
  color: #262626;
  font-weight: 600;
  color: black;
}
a {
  text-decoration: none;
}
.user-profile > .username:hover {
  cursor: pointer;
}

.three-dots {
  width: 80%;
  text-align: end;
}

.comment-section {
  width: 100%;
  /* height: 193px; */
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
/* 
.post-comment {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;

  border: 1px solid #e6e6e6;
} */

.post-comment {
  /*left and right margin 20 px*/
  margin-left: 20px;
  margin-right: 20px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border: 0 1px solid #e6e6e6;
}

.post-comment > i {
  margin-right: 10px;
  font-size: 24px;
}
.post-comment input {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  color: #262626;
  font-weight: 600;
}

.post-comment input:focus {
  outline: none;
}

.post-comment form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-comment form > button {
  width: 100px;
  height: 100%;
  border: 0;
  background-color: transparent;
  color: #47b1f7;
  font-size: 14px;
  font-weight: 600;
}

.post-comment form > button:hover {
  cursor: pointer;
  color: blue;
}
