.signup-container {
  margin: auto;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 100%;
  /* height: 734px; */
  text-align: center;
}

.signup form {
  width: 100%;
  height: 542px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}

.signup h1 {
  font-family: "Grand Hotel", cursive;
  font-size: 50px;
  margin-top: 20px;
}

form p {
  color: #8c8c8c;
  width: 70%;
  margin-top: 10px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.signup button {
  background-color: #0095f6;
  border: none;
  color: white;
  width: 75%;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.policy {
  color: #8c8c8c;
  font-size: 12px;
  width: 75%;
  margin: auto;
}

.signup .or {
  margin-top: 0px;
}

.signup input {
  width: 75%;
  height: 30px;
  margin-top: 20px;

  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
  padding-left: 5px;
  border-radius: 5px;
}

.box-2 {
  margin-top: 20px;
  width: 100%;
  border-radius: 3px;
  height: 70px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-2 a {
  text-decoration: none;
  color: #43b8fa;
}

@media screen and (max-width: 768px) {
  .signup-container {
    width: 100%;
  }
  .signup {
    margin: auto;
  }
  .signup form {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    border: none;
  }
  .box-2 {
    background-color: transparent;
    border: none;
  }
}
